*{box-sizing: border-box;margin: 0;padding: 0;}

.container{
    background: rgb(241, 225, 0);
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botones{
    display: flex;
    margin: 10px;
}

.btn{
    width: 80px;
    height: 30px;
    margin: 5px;
    border-radius: 5px;
}

.btn-Aumentar{
    background: rgb(84, 84, 224);
    border: 1px  rgb(84, 84, 224) solid;
}

.btn-Disminuir{
    background: rgb(240, 71, 71);
    border: 1px  rgb(240, 71, 71) solid;
}

.btn-Recetear{
    background: rgb(223, 164, 69);
    border: 1px rgb(223, 164, 69) solid;
}